* {
    box-sizing:border-box;
    position:absolute;
    margin:0; padding:0; outline:0; border:none;
    user-select:none; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none;
}
html, body {
    overflow: hidden;
}
/*-------------- Background --------------*/
#Background {
    z-index: -1;
    width: 100%; height: 100%;
}
/*-------------- Buttons --------------*/
.ButtonImage {
    width:100%; height:100%;    
}
.ArrowButton {
    background-color:transparent;
    width:7%; min-width: 10px; height:14%; min-height: 20px;
    opacity: 0.4;
    z-index: 2;
}
.ArrowButton:hover {
    opacity:1;  
}
.ArrowButton:active {
    width:9%; height:18%;  
}
.ArrowButton#RB {
    bottom: 6%; right: 2%;
}
.ArrowButton#LB {
    bottom: 6%; left: 2%
}
/*-------------- Title --------------*/
#TitleWrap {
    left:25%; top: 10%;
    width:50%; height:8%;
    overflow:hidden;
}
#Title {
    left:0; right:0; top: -5%;
    text-align:center;
    font-weight:900;
    text-shadow: 0.1rem 0.1rem 0.5rem black, -0.1rem -0.1rem 0.5rem black;
    color:rgb(0, 255, 100);
}
/*-------------- Viewport --------------*/
#ViewWrapper {
    width:60%; height:55%;
    left:20%; top:20%;
}
#ViewportWrapper {
    width:100%; height:100%;               
}
#Viewport {
    top: 0; bottom:0; left: 0; right:0;
    margin:auto;
    max-width: 100%; max-height: 100%;     
    border: 0.3em solid black;
}
#Viewport:hover {
    border-image: repeating-linear-gradient(45deg, purple, aqua 1%, purple 1%, aqua 12%) 10;
}
/*-------------- Scroll Boxes --------------*/
#ScrollWrapper {
    width:75%; height:14%;
    bottom:6%; left:12.5%;
}
#ScrollBox {
    height:100%; width:100%;
    overflow-x:hidden; overflow-y:hidden;
    white-space:nowrap;
    box-shadow: 0 0.3em 1em 0 black, 0 -0.3em 1em 0 black, 0.1em 0 1em 0 red, -0.1em 0 1em 0 red;
}
#ScrollBox img {
    position:relative;
    height:80%; width: 15%;   
    bottom:3%; 
    margin:0.5em;    
}    
/*-------------- Top Bar --------------*/   
#TopBar {
    width:50%; height:3%;
    background-color:darkblue;
    z-index:2;
}
#InputBox {
    left:10%;
    width:25%; height: 100%;
    background-color: black;
    color:white;
}
.TopBarButton {
    background-color: transparent;
    opacity:0.4;
    transition:opacity 0s;
}
.TopBarButton:hover {
    opacity:1;
}
#RevealButton {
    width:5%; height:3%;
}
#HideButton {
    right:0%;
    width:10%; height:100%;
    z-index:1;
}